#================= Vonage API =====================

# Following four parameters are available from the dashboard (dashboard.vonage.com) 

# Your Vonage account API key
API_KEY=xxxxxxxxx

# Your Vonage account API secret
API_SECRET=xxxxxxxx

# Your application ID 
APP_ID=xxxxxxxxxxx

# A phone number linked to your application - E.164 format without the leading '+' sign
SERVICE_NUMBER=12995550101

#-- WebRTC (aka in-app or client SDK) clients --
# Sample list of allowable client SDK (WebRTC client) users
CLIENT_SDK_USERS=john,jennifer,paul,sarah

#-- Default language code for STT --
STT_LANGUAGE_CODE=en-US

#--- Select the relevant region, comment the two others --
# APAC
# API_REGION=api-ap.vonage.com

# EMEA
# API_REGION=api-eu.vonage.com

# Americas
API_REGION=api-us.vonage.com

#============ Connector application server ============

# Connector server host name (no prefix such as "https://" or "wss://", and no trailing slash "/")
PROCESSOR_SERVER=xxxxxx.ngrok.xxx
#PROCESSOR_SERVER=myserver.mycompany.com









